// #root {
//   max-width: 1280px;
//   margin: 0 auto;
//   padding: 2rem;
//   text-align: center;
// }

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.container {
  width: 95%;
  margin: 30px auto;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
