.cardContainer {
  display: flex;
  flex-wrap: wrap;
}
h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 5px;
  margin: 8px;
  width: calc(25% - 19px);
  box-sizing: border-box;
  background-color: #ccc;
  color: black;
}
.card:hover {
  background-color: #f0f0f0;
  cursor: pointer;
  box-shadow: 2px 4px 8px red;
}
.card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.cardContent {
  display: flex;
  justify-content: space-between;
}
.cardTitle {
  text-align: left;
}
